@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&family=Roboto&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/* ====================== login css =========================== */

body {
  margin: 0;
  padding: 0;
  font-size: small;

  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 50px;

  height: 320px;

  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login input {
  border-radius: 5px;
  border: none;
}

.linkss a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

.linkss a:hover {
  color: #ee0303;
  text-decoration: none;
}
.bts {
  background-color: #ee0303;
  color: #fff;

  transition: 0.3s;
}

.bts:hover {
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  letter-spacing: 3px;
  color: #ee0303;
}

#grad {
  background-image: linear-gradient(
    #ee0303,
    #eb5c5c,
    #eb5c5cd5,
    rgb(255, 255, 255)
  );
}
/* ====================== login css end =========================== */

/* ======================== MAIN NAV ================================= */

.navbarCSS {
  border-top: 15px solid #fff;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  background-image: linear-gradient(
    to right,
    #ee0303,
    #eb5c5c,
    #eb5c5cd5,
    rgb(255, 255, 255)
  );
}
/* ================ MAIN NAV END ============================== */

/* ====================== supplies ===================== */

.supplieslogout {
  font-size: 5px;
  color: black;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.supplieslogout:hover {
  color: #ee0303;
}
